@font-face {
         font-family: 'MapoAgape';
         src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoAgapeA.woff') format('woff');
        font-weight: lighter;
        font-style: normal;}

        body {background-color: black;}

        #audio {position: absolute; left:12px; top:10px;}
        #main {position: absolute; left:12px; top:70px;} 
		#o {font-family: 'MapoAgape'; text-align: center; color: white; position: absolute; left:550px; top:1040px;} 
		#p {font-family: 'MapoAgape'; text-align: center; color: white; 
            position: absolute; left:480px; top:1120px;}

		#q {font-family: 'MapoAgape'; text-align: center;color: white;
            position: absolute; left:380px; top:1230px;}
        #r {font-family: 'MapoAgape'; text-align: left; color: white;
            position: absolute; left:50px; top:1450px;}

		#k {font-family: 'MapoAgape'; text-align: center;color: white; 
		    position: absolute; left:426px; top:1540px;}
        #j {font-family: 'MapoAgape'; text-align: center;color: white; 
		    position: absolute; left:1060px; top:1540px;}

		#lee {position: absolute; left:320px; top:1590px;}

		#z  {font-family: 'MapoAgape'; text-align: center;color: white; position: absolute; left:310px; top:1870px;}
		#a  {font-family: 'MapoAgape'; text-align: center;color: white; position: absolute; left:980px; top:1870px;}
		#x  {position: absolute; left:320px; top:2025px;}
        #b  {font-family: 'MapoAgape'; text-align: center;color: white; position: absolute; left:330px; top:2280px;}
        #c  {font-family: 'MapoAgape'; text-align: center;color: white; position: absolute; left:920px; top:2280px;}
        #d  {position: absolute; left:310px; top:2450px;}
        #e  {font-family: 'MapoAgape'; text-align: center;color: white; position: absolute; left:320px; top:2710px;}
        #f  {font-family: 'MapoAgape'; text-align: center;color: white; position: absolute; left:998px; top:2710px;}
        #g  {position: absolute; left:640px; top:2850px;}
        #h  {font-family: 'MapoAgape'; text-align: center;color: white; position: absolute; left:655px; top:3100px;}
        #l  {font-family: 'MapoAgape'; text-align: center; color: white; 
		     position: absolute; left:490px; top:3300px;}


        #s  {font-family: 'MapoAgape'; position: absolute; top:3600px; color: white;}
        #i  {position: absolute; left:350px; top:3700px; width:100px; height: 70px;}